  .email-modal-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
    }
    
    .email-modal-overlay {
      background: transparent;
    }
    
    .email-modal-box {
      background: white;
      padding: 2rem;
      border-radius: 8px;
      width: 400px;
      position: relative;
      background: rgba(255, 255, 255, 0.8);
    }
    
    .email-close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
    
    .email-modal-title {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
      color:black;
    }
    
    .email-form-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    
    .email-form-label {
      margin-bottom: 10px;
      color:black;
      font-size: 0.9rem;
      font-weight: 500;
      color: #1c0707;
    }
    
    .email-input-field {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      font-size:1rem;
      margin-top:4px;
      background-color: rgb(255, 255, 255,0.8); /* Updated background color */
    }
    
    .email-input-field.email-disabled {
      background-color: #f0f0f0d4;
    }
    
    .email-error-message {
      color: red;
      font-size: 12px;
      text-align: center;
    }
    
    .email-submit-button {
      padding: 10px;
      background: linear-gradient(to right, #0f2a5e, #a4c3e3);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    
    .email-submit-button:hover {
      background: #0f2a5e;
    }
    